<!DOCTYPE html>
<html lang="en" style="height:100%;">
    <head>
        <meta charset="utf-8">
        <title>Make it Mobile</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link rel="shortcut icon" href="ico/favicon.png">
        <!-- Core CSS -->
        <link href="/dnatheme/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/dnatheme/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,500,600,700,900,' rel='stylesheet' type='text/css'>

        <!-- Style Library -->
        <link href="/dnatheme/css/style.css" rel="stylesheet">
        <link href="/dnatheme/css/plugins.css" rel="stylesheet">
        <link href="/dnatheme/css/components.css" rel="stylesheet">
        <link href="/dnatheme/css/custom.css" rel="stylesheet">
        <link rel="stylesheet" href="/dnatheme/rs-plugin/css/settings.css" type="text/css" media="screen">


        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    </head>
    <body>

    <section id="content" class="content">
      <div class="container">
          <div class="row">
              <div class="col-sm-8 col-xs-12 content">
                <div id="app-7">
                  <ol>
                    <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
                  </ol>
          </div>
              </div>
          </div>
          <!-- /.row-->
      </div>
            <!-- /.container -->
    </section>

        <!-- jQuery -->
		<script type="text/javascript" src="/dnatheme/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/dnatheme/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/vue.min.js"></script>
    <script type="text/javascript" src="/lib/underscore.min.js"></script>
		<script type="text/javascript">

        Vue.component('todo-item', {
          props: ['todo'],
          template: '<li>{{ todo.text }}</li>'
        });

				jQuery(document).ready(function() {

          GROCIERIES = new Vue({
            el: '#app-7',
            data: {
              groceryList: [
                { text: 'Vegetables' },
                { text: 'Cheese' },
                { text: 'Whatever else humans are supposed to eat' }
              ]
            }
          })
				});	//ready
			</script>
</body>
</html>
