<!DOCTYPE html>
<html lang="en" style="height:100%;">
    <head>
        <meta charset="utf-8">
        <title>DNA</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link rel="shortcut icon" href="ico/favicon.png">
        <!-- Core CSS -->
        <link href="dnatheme/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="dnatheme/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,500,600,700,900,' rel='stylesheet' type='text/css'>

        <!-- Style Library -->
        <link href="dnatheme/css/style.css" rel="stylesheet">
        <link href="dnatheme/css/plugins.css" rel="stylesheet">
        <link href="dnatheme/css/components.css" rel="stylesheet">
        <link href="dnatheme/css/custom.css" rel="stylesheet">
        <link rel="stylesheet" href="dnatheme/rs-plugin/css/settings.css" type="text/css" media="screen">


        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    </head>
    <body>
        <header id="header" class="soft-scroll header">
            <nav class="main-nav navbar navbar-default navbar-fixed-top bg-white">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                            <img src="dnatheme/images/dnalogo.png" alt="logo" class="brand-img img-responsive">
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item"><a href="#home">Home</a></li>
                            <li class="nav-item"><a href="#about">About Us</a></li>
                            <li class="nav-item"><a href="#portfolio">Portfolio</a></li>
                            <li class="nav-item"><a href="#contact-us">Contact</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </header>
        <div id="home"></div>
        <!--=== Slider ===-->
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <!-- SLIDE 1-->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on"  data-title="Intro Slide">
                    <!-- MAIN IMAGE -->
                    <img src="dnatheme/images/dnabackground.jpg" alt="slidebg1" data-lazyload="dnatheme/images/dnabackground.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <!-- LAYER -->
                    <div class="tp-caption re-title-v1 sft start"
                        data-x="center"
                        data-hoffset="0"
                        data-y="270"
                        data-speed="1500"
                        data-start="500"
                        data-easing="Back.easeInOut"
                        data-endeasing="Power1.easeIn"
                        data-endspeed="300">
                        <span class="aqua">D</span>N<span class="aqua">A</span> Mobile
                    </div>
                    <!-- END LAYER -->

                    <!-- LAYER -->
                    <div class="tp-caption re-text-v1 sft"
                        data-x="center"
                        data-hoffset="0"
                        data-y="350"
                        data-speed="1400"
                        data-start="1000"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="off"
                        style="z-index: 6">
                        Code is Life.
                    </div>
                    <!-- END LAYER -->

                    <!-- LAYER -->
                    <div class="tp-caption re-text-v1 sft"
                        data-x="center"
                        data-hoffset="0"
                        data-y="400"
                        data-speed="1400"
                        data-start="1000"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="off"
                        style="z-index: 6">
                        Professional Mobile Development
                    </div>
                    <!-- END LAYER -->
                    <!-- LAYER -->
                    <div class="tp-caption sft"
                        data-x="center"
                        data-hoffset="0"
                        data-y="450"
                        data-speed="1600"
                        data-start="800"
                        data-easing="Power4.easeOut"
                        data-endspeed="200"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="off"
                        style="z-index: 6">
                        <!-- <a href="#" class="btn btn-outline btn-outline outline-light">Learn More</a> -->
                        <a href="#" class="btn btn-outline btn-outline outline-light-full">Let's Create Now</a>
                    </div>
                    <!-- END LAYER -->
                </li>
                <!-- END SLIDE -->

                <!-- SLIDE 2-->

                <!-- END SLIDE -->
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
        </div>
    </div>
    <!--=== End Slider ===-->
        <section id="intro" class="content-block-nopad services">
            <div class="container">
                <div class="col-sm-12">
                    <div class="underlined-title">
                        <h1><span class="aqua">D</span>N<span class="aqua">A</span> Mobile</h1>
                        <hr>
                        <h2>Intelligent Design as Technology Evolves.</h2>
                    </div>
                </div>
            </div>
            <div id="about">
            </div>
        </section>
        <section id="content-left" class="content-block content-left">
            <div class="image-container col-sm-6 col-xs-12 pull-right">
                <img class="us" src="dnatheme/images/us.jpg" />
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-12 content pull-left">
                        <h3>About Us</h3>
                          <p>Located in Austin, <span class="aqua">Damien</span> and <span class="aqua">Alex</span>
                            have been building mobile, and web technology since 2008. We've recently combined forces
                            to cover a wider array of skillsets, and deliver rapid product iterations for clients.
                          </p>

                        <a href="#contact-us" class="btn btn-outline btn-outline outline-light soft-scroll">Let's Build!</a>
                    </div>
                </div>
                <!-- /.row-->
            </div>
            <!-- /.container -->
        </section>
    <section id="content" class="content">
            <!-- <div class="image-container col-sm-6 col-xs-12 pull-left">
                <div class="background-image-holder evo">
</div>
            </div> -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-xs-12 content">
                        <h3>What we can do for you.</h3>
                        <p>We build iOS applications, web-apps/websites, bots, browser automation, and backend systems for your application.
                           We can work with an existing team, or get you started on the right foot with a solid, well organized code base.</p>
                      <a href="#" class="btn btn-outline btn-outline outline-dark">Let's Talk</a>
                    </div>
                </div>
                <!-- /.row-->
            </div>
            <!-- /.container -->
        </section>

        <!-- COUNTER -->

    <!-- COLORFUL SERVICES -->


        <!-- SERVICES BLUE -->
        <section id="content-services" class="content-block content-services bg-primary">
            <div class="container">
                <!-- Start Row -->
                <div class="row">
                    <div class="col-sm-4 col-xs-12 text-center">
                        <div class="icon-outline">
                            <span class="fa fa-code"></span>
                        </div>
                        <h3>Damn Good Code</h3>
                        <p>We understand our code will pass through many hands as your business evolves.
                           We really focus on providing a well structured, and documented code base. And we're more than happy to provide support during a handoff.
                        </p>
                    </div>
                    <div class="col-sm-4 col-xs-12 text-center">
                        <div class="icon-outline">
                            <span class="fa fa-paint-brush"></span>
                        </div>
                        <h3>Design Matters</h3>
                        <p>Users embrace technology that delights.
                           Visual design decisions are important. We can implement your existing designs, or help you through the design/discovery process.
                           One way or the other, we'll handoff something your proud to show off.
                         </p>
                    </div>
                    <div class="col-sm-4 col-xs-12 text-center">
                        <div class="icon-outline">
                            <span class="fa fa-heart"></span>
                        </div>
                        <h3>Easy to work with</h3>
                        <p>Are you in Austin? Let's have a sit down meeting and discuss your project.
                          Clear communication is key, and it's easiest when we can meet and discuss in person.
                        </p>
                    </div>
                </div>
                <!--// END Row -->
            </div>
        </section>

        <section class="content-block">
        <div class="underlined-title">
                        <h1>What we can do?</h1>
                <hr>
            <h2>We believe in creating opportunities for passionate innovators that want to change the world.</h2>
                    </div>
        <div class="services-2">

			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6 col-bor">

						<!-- UI Item -->
						<a href="#" class="ui-item bg-green">
							<b>iOS</b>
							<span class="bg-green"><strong>Swift and Obj-C</strong>
                iOS applications are our primary passion.
              </span>
						</a>

					</div>
					<div class="col-md-3 col-sm-6 col-bor">

						<!-- UI Item -->
						<a href="#" class="ui-item bg-lblue">
							<b>JS</b>
							<span class="bg-lblue"><strong>Javascript</strong>
                Frontend JS and Node have come along ways in the last few years.
                We're well versed in the React.js, Vue.js, as well as vanilla javascript.
              </span>
						</a>
					</div>

          <div class="col-md-3 col-sm-6 col-bor">
            <!-- UI Item -->
            <a href="#" class="ui-item bg-yellow">
              <b>React</b>
              <span class="bg-yellow"><strong>React</strong>
                React has made large javascript applications managable. We're big fans.
              </span>
            </a>
          </div>
          <div class="col-md-3 col-sm-6 col-bor">

						<!-- UI Item -->
						<a href="#" class="ui-item bg-red">
							<b>Bots</b>
							<span class="bg-red"><strong>Bot integration</strong>Chat bots, slack bots, FB bots, let's make bots!</span>
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-bor">

						<!-- UI Item -->
						<a href="#" class="ui-item bg-orange">
							<b>PHP</b>
							<span class="bg-orange"><strong>PHP</strong></span>
						</a>

					</div>
					<div class="col-md-3 col-sm-6 col-bor">

						<!-- UI Item -->
						<a href="#" class="ui-item bg-blue">
							<b>Python</b>
							<span class="bg-blue"><strong>Python</strong></span>
						</a>

					</div>

					<div class="col-md-3 col-sm-6 col-bor">

						<!-- UI Item -->
						<a href="#" class="ui-item bg-rose">
							<b>AWS</b>
							<span class="bg-rose"><strong>And other hosting solutions</strong>We can help set you up on AWS, or Digital Ocean.</span>
						</a>

					</div>
					<div class="col-md-3 col-sm-6 col-bor">

						<!-- UI Item -->
						<a href="#" class="ui-item bg-purple">
							<b>Parse</b>
							<span class="bg-purple"><strong>AWS</strong> Sit amet, consectetur adipiscing elit. Quisque massa purus, varius sed lorem sed, volutpat dapibus nisi. Maecenas egestas pulvinar diam, ut a vitae.</span>
						</a>

					</div>
				</div>
			</div>
		</div>
        </section>
        <!-- SERVICES END -->


        <div id="portfolio"></div>
        <section class="content-block gallery gallery">
            <div class="container">
                <div class="underlined-title">
                    <h1>A selection of our work</h1>
                    <hr>
                </div>
                <ul class="filter">
                    <li class="active">
                        <a href="#" data-filter="*">All</a>
                    </li>
                    <!-- <li>
                        <a href="#" data-filter=".artwork">Artwork</a>
                    </li>
                    <li>
                        <a href="#" data-filter=".creative">Creative</a>
                    </li>
                    <li>
                        <a href="#" data-filter=".nature">Nature</a>
                    </li>
                    <li>
                        <a href="#" data-filter=".outside">Outside</a>
                    </li>
                    <li>
                        <a href="#" data-filter=".photography">Photography</a>
                    </li> -->
                </ul>
                <!-- /.gallery-filter -->
                <div class="row">
                    <div class="isotope-gallery-container">
                        <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
                            <div class="gallery-item">
                                <div class="gallery-thumb">
                                    <img src="dnatheme/images/portfolio/post-img-1.jpg" class="img-responsive" alt="1st gallery Thumb">
                                    <div class="image-overlay"></div>
                                    <a href="dnatheme/images/portfolio/post-img-1.jpg" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="gallery-link" target="_blank"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /.gallery-item-wrapper -->
                        <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper nature outside">
                            <div class="gallery-item">
                                <div class="gallery-thumb">
                                    <img src="dnatheme/images/portfolio/post-img-2.jpg" class="img-responsive" alt="2nd gallery Thumb">
                                    <div class="image-overlay"></div>
                                    <a href="dnatheme/images/portfolio/post-img-2.jpg" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /.gallery-item-wrapper -->
                        <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper photography artwork">
                            <div class="gallery-item">
                                <div class="gallery-thumb">
                                    <img src="dnatheme/images/portfolio/post-img-3.jpg" class="img-responsive" alt="3rd gallery Thumb">
                                    <div class="image-overlay"></div>
                                    <a href="dnatheme/images/portfolio/post-img-3.jpg" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /.gallery-item-wrapper -->
                        <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper creative nature">
                            <div class="gallery-item">
                                <div class="gallery-thumb">
                                    <img src="dnatheme/images/portfolio/post-img-4.jpg" class="img-responsive" alt="4th gallery Thumb">
                                    <div class="image-overlay"></div>
                                    <a href="dnatheme/images/portfolio/post-img-4.jpg" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /.gallery-item-wrapper -->
                        <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper nature">
                            <div class="gallery-item">
                                <div class="gallery-thumb">
                                    <img src="dnatheme/images/portfolio/post-img-5.jpg" class="img-responsive" alt="5th gallery Thumb">
                                    <div class="image-overlay"></div>
                                    <a href="dnatheme/images/portfolio/post-img-5.jpg" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
                            <div class="gallery-item">
                                <div class="gallery-thumb">
                                    <img src="dnatheme/images/portfolio/post-img-6.jpg" class="img-responsive" alt="6th gallery Thumb">
                                    <div class="image-overlay"></div>
                                    <a href="dnatheme/images/portfolio/post-img-6.jpg" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /.gallery-item-wrapper -->
                        <!-- /.gallery-item-wrapper -->
                        <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper nature outside">
                            <div class="gallery-item">
                                <div class="gallery-thumb">
                                    <img src="dnatheme/images/portfolio/post-img-7.jpg" class="img-responsive" alt="7th gallery Thumb">
                                    <div class="image-overlay"></div>
                                    <a href="dnatheme/images/portfolio/post-img-7.jpg" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /.gallery-item-wrapper -->
                        <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper photography artwork">
                            <div class="gallery-item">
                                <div class="gallery-thumb">
                                    <img src="dnatheme/images/portfolio/post-img-8.jpg" class="img-responsive" alt="8th gallery Thumb">
                                    <div class="image-overlay"></div>
                                    <a href="dnatheme/images/portfolio/post-img-8.jpg" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.isotope-gallery-container -->
                    <div class="col-md-12 text-center">
                    <h3 class="text-center">We turn great ideas into brilliant realities.</h3>
                    <p class="text-center">Quis dolorem architecto nemo, enim pariatur, aliquid laudantium voluptatum animi. Adipisicing rerum, natus repellendus<br> possimus et excepturi. Reprehenderit iste, laborum quod mollitia nesciunt.</p>
                    <a href="#" class="btn btn-outline btn-outline outline-light-full text-center">Want to see more?</a>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>

        <!-- TEAM -->

        <!-- TESTIMONIALS -->
		<div class="testimonials bg-primary">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6 col-xs-6 col-mob">
						<!-- Item -->
						<div class="ui-item">
							<!-- Details -->
							<div class="ui-details">
								<!-- Paragraph -->
								<p>Sedut unde omnis natus error voluptatem doloremque architecto beatae vitae dicta sunt explicabo again is there anyone who loves or desires to obtain pain or pursues.</p>
							</div>
							<!-- User -->
							<div class="ui-user clearfix">
								<!-- User Image -->
								<a href="#"><img src="dnatheme/images/testimonials/1.jpg" alt="" /></a>
								<!-- User Name -->
								<h3>Bonor<span>Web Designer</span></h3>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-6 col-mob">
						<!-- Item -->
						<div class="ui-item">
							<!-- Details -->
							<div class="ui-details">
								<!-- Paragraph -->
								<p>Nemo enim ipsam voluptatem or desires to obtain pain voluptas, sed quia consequuntur magni dolores eos qui ratione sequi nesciunt again is there anyone who loves or pursues.</p>
							</div>
							<!-- User -->
							<div class="ui-user clearfix">
								<!-- User Image -->
								<a href="#"><img src="dnatheme/images/testimonials/2.jpg" alt="" /></a>
								<!-- User Name -->
								<h3>Neque<span>Java Developer</span></h3>
							</div>
						</div>
					</div>
					<div class="clearfix visible-xs-block"></div>
					<div class="col-md-4 col-sm-6 col-xs-6 col-mob">
						<!-- Item -->
						<div class="ui-item">
							<!-- Details -->
							<div class="ui-details">
								<!-- Paragraph -->
								<p>Neque porro quisquam dolorem, omnis consectetur, adipisci velit, dolore magnam desires to obtain pain quaerat voluptatem again is there anyone who loves or pursues.</p>
							</div>
							<!-- User -->
							<div class="ui-user clearfix">
								<!-- User Image -->
								<a href="#"><img src="dnatheme/images/testimonials/3.jpg" alt="" /></a>
								<!-- User Name -->
								<h3>Dolor<span>Web Developer</span></h3>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-6 col-mob">
						<!-- Item -->
						<div class="ui-item">
							<!-- Details -->
							<div class="ui-details">
								<!-- Paragraph -->
								<p>Excepteur sint occaecat cupidatat non proident, culpa officia deserunt mollit anim id or desires to obtain pain est laborum, sunt in culpa qui again is there anyone who loves or pursues.</p>
							</div>
							<!-- User -->
							<div class="ui-user clearfix">
								<!-- User Image -->
								<a href="#"><img src="dnatheme/images/testimonials/4.jpg" alt="" /></a>
								<!-- User Name -->
								<h3>Occae<span>Graphic Designer</span></h3>
							</div>
						</div>
					</div>
					<div class="clearfix visible-xs-block"></div>
					<div class="col-md-4 col-sm-6 col-xs-6 col-mob">
						<!-- Item -->
						<div class="ui-item">
							<!-- Details -->
							<div class="ui-details">
								<!-- Paragraph -->
								<p>At vero eos accusamus dignissimos ducimus qui or desires to obtain pain praesentium voluptatum deleniti molestias excepturi sint occaecati again is there anyone who loves.</p>
							</div>
							<!-- User -->
							<div class="ui-user clearfix">
								<!-- User Image -->
								<a href="#"><img src="dnatheme/images/testimonials/5.jpg" alt="" /></a>
								<!-- User Name -->
								<h3>Moles<span>.Net Developer</span></h3>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-6 col-mob">
						<!-- Item -->
						<div class="ui-item">
							<!-- Details -->
							<div class="ui-details">
								<!-- Paragraph -->
								<p>Temporibus autem quibusdam etaut officiis debitis aut rerum necessitatibus saepe eveniet voluptates repudiandae sintet again there anyone who loves or pursues or desires.</p>
							</div>
							<!-- User -->
							<div class="ui-user clearfix">
								<!-- User Image -->
								<a href="#"><img src="dnatheme/images/testimonials/6.jpg" alt="" /></a>
								<!-- User Name -->
								<h3>Tempo<span>Project Manager</span></h3>
							</div>
						</div>
					</div>
					<div class="clearfix visible-xs-block"></div>
				</div>
			</div>
		</div>
		<!-- TESTIMONIALS Ends -->

        <!-- PRICING -->

        <!-- PRICING END-->

        <!-- CLIENTS -->

        <!-- CLIENTS END -->

        <!-- <div class="map min-height-500px"></div> -->
        <section id="contact-us" class="content-block contact">
            <div class="container text-center">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="underlined-title">
                        <h1>Get in Touch</h1>
                        <hr>
                        <h2>Feel free to drop us a line to contact us</h2>
                    </div>
                    <p>Cras mattis consectetur purus sit amet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia.</p>
                    <ul class="contact-info">
                        <li>
                            <span class="fa fa-map-marker"></span>
                            125th St. North Miami, FL 33126
                        </li>
                        <li>
                            <span class="fa fa-phone"></span>
                            +1 (123) 456 789
                        </li>
                        <li>
                            <span class="fa fa-envelope"></span>
                            <a href="mailto:info@example.com">info@example.com</a>
                        </li>
                    </ul>
                    <div id="contact" class="form-container">
        <div id="message"></div>

  <form method="post" action="js/contact-form.php" name="contactform" id="contactform">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <input name="name" id="name" type="text" value="" placeholder="Name" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <input name="email" id="email" type="text" value="" placeholder="Email" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <input name="phone" id="phone" type="text" value="" placeholder="Phone" class="form-control" />
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="form-group">
                <textarea name="comments" id="comments" class="form-control" rows="5" placeholder="Message"></textarea>
                <p class="small text-muted"><span class="guardsman">* All fields are required.</span> Once we receive your message we will respond as soon as possible.</p>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" id="cf-submit" name="submit">Send Message</button>
            </div>
        </form>
                    </div>
                    <!-- /.form-container -->
                </div>
                <!-- /.col-sm-10 -->
            </div>
            <!-- /.container -->
        </section>

        <section class="content-block-nopad bg-dark footer-wrap">
            <div class="container footer">
                <div class="row">
                    <div class="col-sm-5">
                        <img src="dnatheme/images/brand/logo-default-white.png" alt="logo-white" class="brand-img img-responsive">
                        <h4>Short Story Us</h4>
                        <p>Praesent feugiat fringilla orci, eget fringilla arcu tristique vitae. Cras quis tortor erat. Nam accumsan consectetur urna non blandit. Aliquam erat volutpat. Praesent eget dui pellentesque eros adipiscing consectetur sit amet ac lorem. Quisque in suscipit dui. Integer a sapien eget felis eleifend rhoncus. Cras posuere metus et arcu aliquet vestibulum.</p>
                    </div>
                    <div class="col-sm-6 col-sm-offset-1">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Shortcuts</h4>
                                <ul>
                                    <li><a href="#">Services and list section</a></li>
                                    <li><a href="#">Portfolio and gallery section</a></li>
                                    <li><a href="#">Team members section</a></li>
                                    <li><a href="#">Pricing package section</a></li>
                                    <li><a href="#">Testimonials and clients section</a></li>
                                    <li><a href="#">Contact and location section</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <h4>Legal Stuff</h4>
                                <ul>
                                    <li>
                                        <a href="#">Privacy Policy</a>
                                    </li>
                                    <li>
                                        <a href="#">Terms & Conditions</a>
                                    </li>
                                    <li>
                                        <a href="#">Cookie Policy</a>
                                    </li>
                                </ul>
                                <h4>Follow Us</h4>
                                <ul class="social social-light">
                                    <li>
                                        <a href="#"><i class="fa fa-2x fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-2x fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-2x fa-google-plus"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-2x fa-pinterest"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-2x fa-behance"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-2x fa-dribbble"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <div class="copyright-bar">
    <div class="container">
        <p class="pull-left small">© DNA Mobile 2017</p>
        <p class="pull-right small">Made with <i class="fa fa-heart pomegranate"></i> on Planet Earth</p>
    </div>
</div>
        <!-- jQuery -->
		<script type="text/javascript" src="dnatheme/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="dnatheme/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="dnatheme/js/plugins.js"></script>
        <!-- <script src="https://maps.google.com/maps/api/js?sensor=true"></script> -->
        <script type="text/javascript" src="dnatheme/js/bskit-scripts.js"></script>
        <!-- JS Page Level -->
		<script type="text/javascript" src="dnatheme/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="dnatheme/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
		<script type="text/javascript" src="dnatheme/rs-plugin/js/revolution-slider.js"></script>
		<script type="text/javascript">

				jQuery(document).ready(function() {
				jQuery('.tp-banner').show().revolution(
					{
						dottedOverlay:"none",
						delay:16000,
						startwidth:1170,
						startheight:700,
						hideThumbs:200,

						thumbWidth:100,
						thumbHeight:50,
						thumbAmount:5,

						navigationType:"none",
						navigationArrows:"square",
						navigationStyle:"preview1",

						touchenabled:"on",
						onHoverStop:"on",

						swipe_velocity: 0.7,
						swipe_min_touches: 1,
						swipe_max_touches: 1,
						drag_block_vertical: false,

						parallax:"mouse",
						parallaxBgFreeze:"on",
						parallaxLevels:[7,4,3,2,5,4,3,2,1,0],

						keyboardNavigation:"off",

						navigationHAlign:"center",
						navigationVAlign:"bottom",
						navigationHOffset:0,
						navigationVOffset:20,

						soloArrowLeftHalign:"left",
						soloArrowLeftValign:"center",
						soloArrowLeftHOffset:20,
						soloArrowLeftVOffset:0,

						soloArrowRightHalign:"right",
						soloArrowRightValign:"center",
						soloArrowRightHOffset:20,
						soloArrowRightVOffset:0,

						shadow:0,
						fullWidth:"off",
						fullScreen:"on",

						spinner:"spinner4",

						stopLoop:"off",
						stopAfterLoops:-1,
						stopAtSlide:-1,

						shuffle:"off",

						autoHeight:"off",
						forceFullWidth:"off",

					    parallax:"scroll",
						parallaxBgFreeze:"on",
						parallaxLevels:[10,20,30,40,50,60,70,80,90,100],

						hideThumbsOnMobile:"off",
						hideNavDelayOnMobile:1500,
						hideBulletsOnMobile:"off",
						hideArrowsOnMobile:"off",
						hideThumbsUnderResolution:0,

						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						startWithSlide:0,
						fullScreenOffsetContainer: ".header"
					});

					});	//ready
			</script>
</body>
</html>
