/* Put your custom styles here */
.aqua{
 color: #32c5d2;
}

.us{
  max-width: 100%;
}
.content h4{
 0.9 em;
}
.content-right .image-container .background-image-holder.evo{
  background: url(../images/evo2.jpg) no-repeat center center;
}
.background-image-holder.evo{
    background: url(../images/testevo.jpg) no-repeat center center;
}
.portfolio-section .underlined-title hr{
  margin: 15px 40% 0px 40%;
}
.portfolio-img{
  width: auto;
  margin: auto;
  max-height: 420px;
}
.portfolio-section .gallery-item h5{
  text-align: center;
}
.portfolio-row{
 margin-bottom: 15px;
}

.center-text{
  text-align: center;
}

.underlined-title{
  padding: 0;
}
.content-block{
 padding: 20px 0 20px 0;
}
.content-left p {
  margin-bottom: 0px;
}
